<app-header titulo="avatar"></app-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://i.imgur.com/w6EuJ02.jpg" />
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

</ion-content>

<ion-content>
<ion-avatar>
  <img alt="Silhouette of a person's head" src="https://i.imgur.com/ex5rYTW.jpeg" />
</ion-avatar>
</ion-content>

<ion-content>
<ion-chip>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://i.imgur.com/Un8ck5j.jpeg" />
  </ion-avatar>
  <ion-label>Chip Avatar</ion-label>
</ion-chip>



</ion-content>